@{
    ViewData["Title"] = "Home - TRACK YOUR DAY";
}

<div class="text-center">
    <h1 class="display-4">Index - TRACK YOUR DAY</h1>
    <p>Application for tracking made by  <a href="https://bim-s.it">Sergey Kuleshov</a></p>
</div>
