@{
    ViewData["Title"] = "Home - TRACK YOUR DAY";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;">
    <a asp-controller="Expenses" asp-action="Create" class="btn btn-primary w-75 mb-4 btn-lg">CREATE NEW EXPENSE</a>
    <a asp-controller="Expenses" asp-action="Index" class="btn btn-primary w-75 mb-4 btn-lg">ALL EXPENSES LIST</a>
    <a asp-controller="Expenses" asp-action="Totals" class="btn btn-primary w-75 btn-lg">TOTALS</a>
</div>
